
    #header-menu{
    /*
    background: center / contain no-repeat url(../../assets/img/gift.jpg)  ; 
    background-position: right; */
    height: 300px;
    
}

#header-menu img{
    
    height: 300px;
}
#menu a{
    font-size: 17px;
}
.cursor-pointer :hover {
   cursor: pointer!important;
}
#navbarSupportedContent ul li a {
    color: green;
    
}
#navbarSupportedContent ul li :hover {
    color: darkgreen;
    font-weight: bolder;
}