 <div id="header-menu" class=" text-center d-flex align-items-center row" >
    <!--<p class="mb-0  display-1">Besoin d'Aide ?</p>-->
    <img src="../../assets/img/gift.jpg" class="w-100"  alt="logo"> 
    
</div> 

<nav class="navbar navbar-expand-lg navbar-light bg-light " id="menu">
    <a class="navbar-brand" href="">
        <img src="../../assets/img/gift.jpg" class="rounded-circle" alt="logo" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ask-help">Demander un service</a>
            </li>           
            <li class="nav-item">
                <a class="nav-link " href="offer-help">Proposer ses services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navigateToPrestationsList()">Consulter les prestations</a>
            </li>
        </ul>
    </div>
</nav>