
<h2 class="text-center my-5 py-5 text-info display-3">Liste des prestations </h2>

<!--Affichage des filtres -->
<div class="fullwidth">
      <!-- Filters -->
      <ul class="filter_list text-white list-group list-group-horizontal my-5" id="tags" >
        <li class="filter list-group-item" data-filter="all">
          <a title="tout" class="btn btn-primary">
            <span (click)="getPrestationsByTypeAnnonce('offre&demande')">Afficher tout</span>
          </a>
        </li>
        <li class="filter list-group-item" data-filter=".offre">
          <a title="les-offres" class="btn btn-secondary">
            <span (click)="getPrestationsByTypeAnnonce('offre')">Offres</span>
          </a>
        </li>
        <li class="filter list-group-item" data-filter=".demande">
          <a title="les-demandes" class="btn btn-info">
            <span (click)="getPrestationsByTypeAnnonce('demande')">Demandes</span>
          </a>
        </li>
        <!--Filtre par catégorie-->
        <li class="filter list-group-item" data-filter=".category">
          <a title="Attention: il y a un bug si on click une 2eme fois sur ce bouton !">
            <span>
              <button style="background-color: #DFBE66;" class="filter btn btn-secondary dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtre par catégorie
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span class="dropdown-item category" *ngFor="let category of categories"
                  (click)="getPrestationsByCategory(category.label)">{{ category.label }} </span>
              </div>
            </span>
          </a>
        </li>
        <!--Filtre par date-->
        <li class="filter list-group-item" data-filter=".date">
          <a title="Attention: il y a un bug si on click une 2eme fois sur ce bouton !">
            <span>
              <button class="filter btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtre par Date
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span class="dropdown-item date" (click)="getPrestationsByDate(1)">Aujourd'hui</span>
                <span class="dropdown-item date" (click)="getPrestationsByDate(7)">la derniere semaine</span>
                <span class="dropdown-item date" (click)="getPrestationsByDate(30)">le dernier mois</span>
              </div>
            </span>
          </a>
        </li>
      </ul>

<!-- Affichage des prestations-->
<section class="wrapper">
  <div class="row jumbotron text-center" >
    <div class="card bg-white col-4 my-5 py-4 " *ngFor="let prestation of sortedPrestations">
      <!--Pour les offres-->
      <div *ngIf="prestation.typeAnnonce==0" class="one_on_three mix offre">
                <p class="card-title" *ngIf="prestation.typeAnnonce==0"><strong>Offre - </strong> <span
                    class="card-text">{{ prestation.title }}</span></p>
                <p class="card-title" *ngIf="prestation.typeAnnonce==1"><strong>Demande -</strong> <span
                    class="card-text">{{ prestation.title }} </span></p>
                <img src="{{ prestation.category.image }}" class="card-img-top" alt="categorie">
                <div class="card-body">
                  <p class="card-text">{{ prestation.description }}</p>
                  <p class="card-text">{{ prestation.datePublication | date }}</p>
                  <p class="card-text"> <a class="btn btn-primary text-white" (click)="navigateToProfile(prestation.person)">
                      {{ prestation.person.name }} {{ prestation.person.firstname }} </a></p>
                  <a class="btn btn-lg btn-secondary text-white" (click)="navigateToDetails(prestation)">Détails</a>
                
                </div>
      </div>
      <!--Pour les demandes-->
      <div *ngIf="prestation.typeAnnonce==1" class="one_on_three mix demande">
        <p class="card-title" *ngIf="prestation.typeAnnonce==0"><strong>Offre - </strong> <span
            class="card-text">{{ prestation.title }}</span></p>
        <p class="card-title" *ngIf="prestation.typeAnnonce==1"><strong>Demande -</strong> <span
            class="card-text">{{ prestation.title }} </span></p>
        <img src="{{ prestation.category.image }}" class="card-img-top" alt="categorie">
        <div class="card-body">
          <p class="card-text">{{ prestation.description }}</p>
          <p class="card-text">{{ prestation.datePublication | date }}</p>
          <p class="card-text"> <a class="btn btn-primary text-white" (click)="navigateToProfile(prestation.person)">
              {{ prestation.person.name }} {{ prestation.person.firstname }} </a></p>
          <a class="btn btn-lg btn-secondary text-white" (click)="navigateToDetails(prestation)">Détails</a>        
        </div>
      </div>
      <!--Affichage par défaut :, faire un else pour récupérer toutes les prestations-->
      <div **ngIf="prestation.typeAnnonce==1;else all-prestations" ></div>       
    </div>
  </div>
</section>

