
<h2 class="text-center my-5 py-5 text-info display-3">Liste des prestations </h2>

<section class="wrapper">
  <div class="row jumbotron text-center" >
    <div class="card bg-white col-4 my-5 py-4 " *ngFor="let prestation of prestations">
      <a (click)="navigateToDetails(prestation)">
      <p class="card-title" *ngIf="prestation.typeAnnonce==true"><strong>Offre - </strong> <span class="card-text">{{ prestation.title }}</span></p>
      <p class="card-title" *ngIf="!prestation.typeAnnonce"><strong>Demande -</strong> <span class="card-text">{{ prestation.title }} </span></p>
      <img src="{{ prestation.category.image }}" class="card-img-top" alt="categorie">
      <div class="card-body">
        <p class="card-text">{{ prestation.description }}</p>
        <p class="card-text">{{ prestation.datePublication | date }}</p>
        <p class="card-text">{{ prestation.person.firstname }}</p>
        <a class="btn btn-lg btn-secondary text-white" (click)="navigateToDetails(prestation)">Détails</a> 
      
      </div>
        </a>
    </div>

  </div>
</section>

